[defaults]
inventory              = inventory/hosts
roles_path             = roles
collections_paths      = ~/.ansible/collections
log_path               = ./ansible.log
stdout_callback        = yaml
callbacks_enabled      = profile_tasks, timer
retry_files_enabled    = false
gathering              = smart
fact_caching           = jsonfile
fact_caching_connection = ./.fact_cache
fact_caching_timeout   = 3600
host_key_checking      = false
interpreter_python     = auto_silent
forks                  = 10

[privilege_escalation]
become       = true
become_method = sudo
become_user  = root
become_ask_pass = false

[ssh_connection]
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining          = true
control_path_dir    = /tmp/.ansible-cp

[persistent_connection]
connect_timeout     = 30
command_timeout     = 60
